@font-face{
    font-family: b-serif;
    src: url(../fonts/Bree_Serif/BreeSerif-Regular.ttf);
}
@font-face{
    font-family: dongle-b;
    src: url(../fonts/Dongle/Dongle-Bold.ttf);
}
@font-face{
    font-family: ssp;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face{
    font-family: ssp-b;
    src: url(fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

a:link { text-decoration: none; }

*{
    text-align: none;
}

body{
    background-image: url(../images/texture.jpg);
    background-size: 240px;
    /*background-attachment: fixed;*/
}

.navbar-custo{
    background-color: #fff;
    min-height: 60px;
    box-shadow: 0px 6px 6px rgba(167, 167, 167, 0.2);
    padding: 0rem 1rem;
}


.navbar-nav{
    font-size: 0.9rem;
    color: yellow;
    font-family: b-serif;
}

.nav-form{
    font-family: ssp;
    color: #872F00;
    font-size: 0.9rem;
}

.banner-spacer{
    height: 60px;
    width: 100%;
}

.h-card-title a{
    font-family: b-serif;
    color: #1b1b1b;
}

.flex-rt{
    flex-basis: right !important;
    align-items: flex-end;
    width: min-content;
}

h1, h2, h3, h4, h5, h6 {
    font-family: b-serif;
  }


.white-cont{
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    background-image: url(../images/texture.png);
    background-size: 140px;
    background-attachment: fixed;
}

.view-piza-container{
    /*background-color: #f7b825;*/
    border-bottom: 5px solid rgb(36, 35, 35);
    border-top: 5px solid rgb(36, 35, 35);
    /*backdrop-filter: blur(2px);*/
    width: 100%;
}

.vp-card{
    /*background-color: black;
    border: 2px solid rgb(189, 183, 183);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vp-s-card{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.5s;
}
.vp-s-card:hover{
    transform: scale(1.2);
	background: #ff800a;
	z-index: 2;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    text-decoration: none;
    text-decoration-line: none;
}
.vp-s-card-body h5{
    text-decoration: none;
    color: #000000; 
}
.vp-s-card-body p{
    text-align: center;
    text-decoration: none;
    color: #872F00;
}

/*Banner*/
.section1{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    height: 250px;
    padding: 0%;
    /*background-color: rgba(255, 255, 255, 0.377);*/
    background-color: #f9b821cd;
    border: #1b1b1b;
    border-width: 2px;
    border-style: solid;
    backdrop-filter: blur(2px);
    display: flex;
    box-shadow: 0px 6px 6px rgba(167, 167, 167, 0.2);
    border-radius: 5px;
}


.b-image{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
.b-image img{
    height: 200px;
}

.b-text{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5%;
    font-family: b-serif;
}

.b-text div{
}
.b-text p, .b-text.h1{
    text-align: center;
}

.b-text h1{
    font-size: 2rem;
}

@media (max-width: 750px){
    .section1{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        margin-left: 10%;
    }
    .b-text{
        width: 90%;
        padding-right: 0;
        padding-top: 10px;
    }
    .b-image img{
        margin-top: 10px;
    }
}

.h-menu-heading{
    margin-top: 50px;
}
/*
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
*/
.menu-card{
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    display: -ms-flexbox;
    margin: auto;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);


    border-radius: 10px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    transition: 0.5s;

    color: #fff;
	border: solid 2px #da7c0c;
	background: #F9BA21;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7b825), to(#F9BA21));
	background: -moz-linear-gradient(top,  #F9BA21 ,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.menu-card:hover{
    transform: scale(1.2);
	background: #ff800a;
	z-index: 2;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
.menu-buttons{
    background-color:  #872F00;
    color: #fff;
    font-family: ssp;
} 

.card-shade{
    background-color: #0000004f;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20%;
    transition: 0.5s;
    text-shadow: rgb(0, 0, 0) 10px 0 10px;
}
.card-shade:hover{
    color: #000000;
    background-color: #da7d0ca8;
    text-shadow: #c2a787 30px 30px 30px;
}
.card-body{
    padding: 0.6rem !important;
    display: block;
}
footer{
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    font-family: ssp;
}

.footer-head{
    border-bottom: 2px groove rgba(250, 248, 248, 0.137);
    width: 70%;
    margin: auto;
    color: #F9BA21;
}

.our-mission-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0.5rem;
}

.our-mission-cont h3{
    color: #e04040;
}

.links-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-list{
    list-style: none;
    list-style-type: none;
    display: flex;
    margin: auto;
}

.link-list a{
    margin-right: 14px;
    text-align: center;
    padding: px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.5s;
}

.link-list a:hover{
    color: #f7b825;
    transform: scale(1.2);
}

.f-row{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.copy-right{
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background-color: #000000;
    text-align: center;
    color: #fff;
    font-family: ssp;
    font-size: 0.9rem;
    padding: auto;
    justify-content: space-around;
    border-top: #2b2a2a;
    border-top: 2px groove #F9BA21;
}

@media (max-width: 580px)
{
    .menu-card{
        width: 160px !important;
        height: 160px !important; 
    } 

    .menu-buttons{
        font-size: 0.8rem;
    }
    
    .card-img-top{
        height: 150px;
    }

    .h-card-title{
        font-size: 0.98rem;
    }

    .white-b{
        width: 80%;
        margin-left: 10%;
    }
}

.dongle-b-font{
    font-family: dongle-b !important;
}